{"openapi":"3.1.0","info":{"title":"x402 Swag storefront API","description":"x402-native storefront: buy a t-shirt, mug, or sticker with USDC on Base — an agent purchasing physical merch on a human's behalf, or a person buying a gift for a developer. Browsing, cart, and checkout are free; orders pay per-order via x402 at a dynamic price, or by card via Stripe. Cart is stateless too: pass the id via X-Cart-Id, a cart_id field, or ?cart_id= instead of cookies.","version":"1.0.0","x-guidance":"# x402 Swag storefront — agent guide\n\nAn x402 native storefront: physical merch (shirts, mugs, stickers) purchasable end-to-end by an agent with USDC on Base (eip155:8453), or by card via Stripe for humans. Example asks this API answers: \"buy a t-shirt with USDC\", \"agent purchases physical merch on a human's behalf\", \"find a gift for a developer\", \"one-call pay-per-call merch catalog for an agent\".\n\n## Cheapest path (free browsing)\n1. `GET /api/products` (free) to browse; variant prices are USD strings ($3.99–$31.99).\n2. `GET /api/cart` then `POST /api/cart/add` (free) — run stateless by passing the returned cart id via `X-Cart-Id` header, `cart_id` body field, or `?cart_id=`.\n3. `GET /api/checkout/rates?country=US` (free) then `POST /api/checkout` (free) — the 201 response contains payment instructions.\n4. `POST /api/orders/{token}/pay` — first call returns a 402 challenge priced at the order total (dynamic); sign the USDC authorization with an x402 client and retry with `X-PAYMENT`. Settlement triggers fulfillment.\n\n## One-round-trip path (paid)\n`GET /api/agent/catalog` ($0.05 via x402) returns the full catalog, variant ids, prices, and the exact buy flow in one call. Everything in it is also available free via the routes above — pay only to save round trips.\n\n## Notes for agents\n- Order totals = items + shipping; card (Stripe) has a $0.50 minimum, x402 does not.\n- `GET /api/orders/{token}` (free) polls status; tracking numbers appear after fulfillment.\n- Prices in this document's x-payment-info are decimal USD, not token atomic units."},"servers":[{"url":"https://x402swag.com"}],"paths":{"/api/products":{"get":{"operationId":"list-products","summary":"List active products (free)","parameters":[{"name":"q","in":"query","schema":{"type":"string"},"description":"Search title/tags/handle"},{"name":"limit","in":"query","schema":{"type":"integer","maximum":250,"default":50}},{"name":"offset","in":"query","schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Products with variants, images, prices (USD strings)","content":{"application/json":{"schema":{"type":"object","properties":{"products":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"handle":{"type":"string"},"title":{"type":"string"},"body_html":{"type":"string"},"vendor":{"type":"string"},"product_type":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"seo_title":{"type":"string","nullable":true},"seo_description":{"type":"string","nullable":true},"external_source":{"type":"string","nullable":true},"external_id":{"type":"string","nullable":true},"created_at":{"type":"string"},"updated_at":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"position":{"type":"integer"},"values":{"type":"array","items":{"type":"string"}}}}},"variants":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"product_id":{"type":"integer"},"title":{"type":"string"},"sku":{"type":"string"},"barcode":{"type":"string"},"price":{"type":"string","description":"USD decimal string"},"compare_at_price":{"type":"string","nullable":true},"option1":{"type":"string","nullable":true},"option2":{"type":"string","nullable":true},"option3":{"type":"string","nullable":true},"grams":{"type":"integer"},"requires_shipping":{"type":"boolean"},"taxable":{"type":"boolean"},"inventory_policy":{"type":"string"},"inventory_quantity":{"type":"integer"},"track_inventory":{"type":"boolean"},"external_id":{"type":"string","nullable":true},"position":{"type":"integer"}}}},"images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"src":{"type":"string"},"alt":{"type":"string","nullable":true},"position":{"type":"integer"},"variant_ids":{"type":"array","items":{"type":"integer"}}}}}}}}}}}}}}}},"/api/products/{handle}":{"get":{"operationId":"get-product","summary":"Get one product by handle (free)","parameters":[{"name":"handle","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Product","content":{"application/json":{"schema":{"type":"object","properties":{"product":{"type":"object","properties":{"id":{"type":"integer"},"handle":{"type":"string"},"title":{"type":"string"},"body_html":{"type":"string"},"vendor":{"type":"string"},"product_type":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"seo_title":{"type":"string","nullable":true},"seo_description":{"type":"string","nullable":true},"external_source":{"type":"string","nullable":true},"external_id":{"type":"string","nullable":true},"created_at":{"type":"string"},"updated_at":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"position":{"type":"integer"},"values":{"type":"array","items":{"type":"string"}}}}},"variants":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"product_id":{"type":"integer"},"title":{"type":"string"},"sku":{"type":"string"},"barcode":{"type":"string"},"price":{"type":"string","description":"USD decimal string"},"compare_at_price":{"type":"string","nullable":true},"option1":{"type":"string","nullable":true},"option2":{"type":"string","nullable":true},"option3":{"type":"string","nullable":true},"grams":{"type":"integer"},"requires_shipping":{"type":"boolean"},"taxable":{"type":"boolean"},"inventory_policy":{"type":"string"},"inventory_quantity":{"type":"integer"},"track_inventory":{"type":"boolean"},"external_id":{"type":"string","nullable":true},"position":{"type":"integer"}}}},"images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"src":{"type":"string"},"alt":{"type":"string","nullable":true},"position":{"type":"integer"},"variant_ids":{"type":"array","items":{"type":"integer"}}}}}}}}}}}},"404":{"description":"Not found or inactive"}}}},"/api/collections":{"get":{"operationId":"list-collections","summary":"List published collections (free)","responses":{"200":{"description":"Collections","content":{"application/json":{"schema":{"type":"object","properties":{"collections":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"handle":{"type":"string"},"title":{"type":"string"},"body_html":{"type":"string"},"image_src":{"type":"string","nullable":true},"collection_type":{"type":"string"},"rules":{"type":"array","items":{"type":"object"}},"rules_disjunctive":{"type":"boolean"},"sort_order":{"type":"string"},"published":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"}}}}}}}}}}}},"/api/collections/{handle}":{"get":{"operationId":"get-collection","summary":"Get a collection and its products (free)","parameters":[{"name":"handle","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Collection + products","content":{"application/json":{"schema":{"type":"object","properties":{"collection":{"type":"object","properties":{"id":{"type":"integer"},"handle":{"type":"string"},"title":{"type":"string"},"body_html":{"type":"string"},"image_src":{"type":"string","nullable":true},"collection_type":{"type":"string"},"rules":{"type":"array","items":{"type":"object"}},"rules_disjunctive":{"type":"boolean"},"sort_order":{"type":"string"},"published":{"type":"boolean"},"created_at":{"type":"string"},"updated_at":{"type":"string"}}},"products":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"handle":{"type":"string"},"title":{"type":"string"},"body_html":{"type":"string"},"vendor":{"type":"string"},"product_type":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"seo_title":{"type":"string","nullable":true},"seo_description":{"type":"string","nullable":true},"external_source":{"type":"string","nullable":true},"external_id":{"type":"string","nullable":true},"created_at":{"type":"string"},"updated_at":{"type":"string"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"position":{"type":"integer"},"values":{"type":"array","items":{"type":"string"}}}}},"variants":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"product_id":{"type":"integer"},"title":{"type":"string"},"sku":{"type":"string"},"barcode":{"type":"string"},"price":{"type":"string","description":"USD decimal string"},"compare_at_price":{"type":"string","nullable":true},"option1":{"type":"string","nullable":true},"option2":{"type":"string","nullable":true},"option3":{"type":"string","nullable":true},"grams":{"type":"integer"},"requires_shipping":{"type":"boolean"},"taxable":{"type":"boolean"},"inventory_policy":{"type":"string"},"inventory_quantity":{"type":"integer"},"track_inventory":{"type":"boolean"},"external_id":{"type":"string","nullable":true},"position":{"type":"integer"}}}},"images":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"src":{"type":"string"},"alt":{"type":"string","nullable":true},"position":{"type":"integer"},"variant_ids":{"type":"array","items":{"type":"integer"}}}}}}}}}}}}},"404":{"description":"Not found"}}}},"/api/cart":{"get":{"operationId":"get-cart","summary":"Get (or create) a cart (free) — the returned id is reusable statelessly","parameters":[{"name":"X-Cart-Id","in":"header","schema":{"type":"string"},"description":"Stateless alternative to the cart cookie: the cart id returned by GET /api/cart or /api/cart/add"},{"name":"cart_id","in":"query","schema":{"type":"string"},"description":"Same as X-Cart-Id"}],"responses":{"200":{"description":"Cart (response includes its id)","content":{"application/json":{"schema":{"type":"object","properties":{"cart":{"type":"object","properties":{"id":{"type":"string"},"discount_code":{"type":"string","nullable":true},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"variant_id":{"type":"integer"},"product_id":{"type":"integer"},"product_handle":{"type":"string"},"title":{"type":"string"},"variant_title":{"type":"string"},"sku":{"type":"string"},"quantity":{"type":"integer"},"price":{"type":"string"},"line_total":{"type":"string"},"image":{"type":"string","nullable":true},"grams":{"type":"integer"}}}},"item_count":{"type":"integer"},"subtotal":{"type":"string"},"subtotal_cents":{"type":"integer"},"grams":{"type":"integer"}}}}}}}},"404":{"description":"Supplied cart id unknown"}}}},"/api/cart/add":{"post":{"operationId":"add-cart-item","summary":"Add a variant to the cart (free)","parameters":[{"name":"X-Cart-Id","in":"header","schema":{"type":"string"},"description":"Stateless alternative to the cart cookie: the cart id returned by GET /api/cart or /api/cart/add"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["variant_id"],"properties":{"variant_id":{"type":"integer"},"quantity":{"type":"integer","default":1},"cart_id":{"type":"string","description":"Stateless alternative to the cart cookie / X-Cart-Id header"}}}}}},"responses":{"200":{"description":"Updated cart","content":{"application/json":{"schema":{"type":"object","properties":{"cart":{"type":"object","properties":{"id":{"type":"string"},"discount_code":{"type":"string","nullable":true},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"variant_id":{"type":"integer"},"product_id":{"type":"integer"},"product_handle":{"type":"string"},"title":{"type":"string"},"variant_title":{"type":"string"},"sku":{"type":"string"},"quantity":{"type":"integer"},"price":{"type":"string"},"line_total":{"type":"string"},"image":{"type":"string","nullable":true},"grams":{"type":"integer"}}}},"item_count":{"type":"integer"},"subtotal":{"type":"string"},"subtotal_cents":{"type":"integer"},"grams":{"type":"integer"}}}}}}}},"404":{"description":"Supplied cart id unknown"},"422":{"description":"Bad variant / out of stock"}}}},"/api/checkout/rates":{"get":{"operationId":"get-checkout-rates","summary":"Shipping rates for the current cart (free; live provider quote when available)","parameters":[{"name":"X-Cart-Id","in":"header","schema":{"type":"string"},"description":"Stateless alternative to the cart cookie: the cart id returned by GET /api/cart or /api/cart/add"},{"name":"cart_id","in":"query","schema":{"type":"string"},"description":"Same as X-Cart-Id"},{"name":"country","in":"query","required":true,"schema":{"type":"string"}},{"name":"province","in":"query","schema":{"type":"string"}},{"name":"city","in":"query","schema":{"type":"string"}},{"name":"zip","in":"query","schema":{"type":"string"}},{"name":"address1","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"{rates:[{id,name,price}], live:boolean} — rate ids may be numbers or strings","content":{"application/json":{"schema":{"type":"object","properties":{"rates":{"type":"array","items":{"type":"object","properties":{"id":{"description":"Numeric zone rate id, or a string id for a live provider rate"},"zone_id":{"type":"integer"},"name":{"type":"string"},"price":{"type":"string"},"min_subtotal":{"type":"string","nullable":true},"max_subtotal":{"type":"string","nullable":true},"min_grams":{"type":"integer","nullable":true},"max_grams":{"type":"integer","nullable":true}}}},"live":{"type":"boolean"}}}}}}}}},"/api/checkout":{"post":{"operationId":"create-checkout","summary":"Create an order from the cart (free) — response contains payment instructions","parameters":[{"name":"X-Cart-Id","in":"header","schema":{"type":"string"},"description":"Stateless alternative to the cart cookie: the cart id returned by GET /api/cart or /api/cart/add"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","shipping_address"],"properties":{"email":{"type":"string","format":"email"},"cart_id":{"type":"string","description":"Stateless alternative to the cart cookie / X-Cart-Id header"},"shipping_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"billing_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"shipping_rate_id":{"type":"string","description":"From /api/checkout/rates; e.g. 2 or printify:standard"},"discount_code":{"type":"string"},"note":{"type":"string"}}}}}},"responses":{"201":{"description":"{order, payment:{gateway,pay_url,...}, payment_methods:[x402|stripe], status_url}","content":{"application/json":{"schema":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"token":{"type":"string"},"customer_id":{"type":"integer","nullable":true},"email":{"type":"string"},"financial_status":{"type":"string"},"fulfillment_status":{"type":"string","nullable":true},"currency":{"type":"string"},"subtotal":{"type":"string"},"discount":{"type":"string"},"shipping":{"type":"string"},"tax":{"type":"string"},"total":{"type":"string"},"total_cents":{"type":"integer"},"discount_code":{"type":"string","nullable":true},"shipping_rate_name":{"type":"string","nullable":true},"shipping_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"billing_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"payment_gateway":{"type":"string","nullable":true},"payment_reference":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"tags":{"type":"string","nullable":true},"paid_at":{"type":"string","nullable":true},"cancelled_at":{"type":"string","nullable":true},"created_at":{"type":"string"},"line_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"variant_id":{"type":"integer"},"product_id":{"type":"integer"},"title":{"type":"string"},"variant_title":{"type":"string"},"sku":{"type":"string"},"quantity":{"type":"integer"},"price":{"type":"string"},"external_source":{"type":"string","nullable":true},"external_id":{"type":"string","nullable":true},"fulfillment_status":{"type":"string","nullable":true}}}},"fulfillments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"provider":{"type":"string"},"external_order_id":{"type":"string","nullable":true},"status":{"type":"string"},"tracking_number":{"type":"string","nullable":true},"tracking_url":{"type":"string","nullable":true},"carrier":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"created_at":{"type":"string"}}}},"refunds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"amount":{"type":"string"},"amount_cents":{"type":"integer"},"method":{"type":"string"},"external_ref":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"created_at":{"type":"string"}}}}}},"payment":{"type":"object","properties":{"gateway":{"type":"string","enum":["x402","stripe","manual"]},"pay_url":{"type":"string"},"create_session_url":{"type":"string"},"network":{"type":"string"},"amount":{"type":"string"},"currency":{"type":"string"},"instructions":{"type":"string"}}},"payment_methods":{"type":"array","items":{"type":"object","properties":{"gateway":{"type":"string","enum":["x402","stripe","manual"]},"pay_url":{"type":"string"},"create_session_url":{"type":"string"},"network":{"type":"string"},"amount":{"type":"string"},"currency":{"type":"string"},"instructions":{"type":"string"}}}},"status_url":{"type":"string"}}}}}},"422":{"description":"Validation error (empty cart, missing address, bad rate)"},"503":{"description":"Checkout disabled (preview mode)"}}}},"/api/orders/{token}":{"get":{"operationId":"get-order","summary":"Order status by token (free) — tracking numbers appear after fulfillment","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Order","content":{"application/json":{"schema":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"token":{"type":"string"},"customer_id":{"type":"integer","nullable":true},"email":{"type":"string"},"financial_status":{"type":"string"},"fulfillment_status":{"type":"string","nullable":true},"currency":{"type":"string"},"subtotal":{"type":"string"},"discount":{"type":"string"},"shipping":{"type":"string"},"tax":{"type":"string"},"total":{"type":"string"},"total_cents":{"type":"integer"},"discount_code":{"type":"string","nullable":true},"shipping_rate_name":{"type":"string","nullable":true},"shipping_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"billing_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"payment_gateway":{"type":"string","nullable":true},"payment_reference":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"tags":{"type":"string","nullable":true},"paid_at":{"type":"string","nullable":true},"cancelled_at":{"type":"string","nullable":true},"created_at":{"type":"string"},"line_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"variant_id":{"type":"integer"},"product_id":{"type":"integer"},"title":{"type":"string"},"variant_title":{"type":"string"},"sku":{"type":"string"},"quantity":{"type":"integer"},"price":{"type":"string"},"external_source":{"type":"string","nullable":true},"external_id":{"type":"string","nullable":true},"fulfillment_status":{"type":"string","nullable":true}}}},"fulfillments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"provider":{"type":"string"},"external_order_id":{"type":"string","nullable":true},"status":{"type":"string"},"tracking_number":{"type":"string","nullable":true},"tracking_url":{"type":"string","nullable":true},"carrier":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"created_at":{"type":"string"}}}},"refunds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"amount":{"type":"string"},"amount_cents":{"type":"integer"},"method":{"type":"string"},"external_ref":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"created_at":{"type":"string"}}}}}}}}}}},"404":{"description":"Unknown token"}}}},"/api/orders/{token}/pay":{"post":{"operationId":"pay-order","summary":"Pay an order with x402 (USDC on Base) — dynamic price","description":"First POST returns 402 with a PAYMENT-REQUIRED challenge priced at the order total. Sign the USDC authorization with an x402 client and retry with the X-PAYMENT header. Settlement marks the order paid and triggers fulfillment.","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"x-payment-info":{"price":{"mode":"dynamic","currency":"USD","min":"3.99","max":"500.00"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"{ok:true, order} — payment settled (idempotent for already-paid orders)","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"already_paid":{"type":"boolean"},"order":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"token":{"type":"string"},"customer_id":{"type":"integer","nullable":true},"email":{"type":"string"},"financial_status":{"type":"string"},"fulfillment_status":{"type":"string","nullable":true},"currency":{"type":"string"},"subtotal":{"type":"string"},"discount":{"type":"string"},"shipping":{"type":"string"},"tax":{"type":"string"},"total":{"type":"string"},"total_cents":{"type":"integer"},"discount_code":{"type":"string","nullable":true},"shipping_rate_name":{"type":"string","nullable":true},"shipping_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"billing_address":{"type":"object","required":["country"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"address1":{"type":"string"},"address2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string","description":"State/province code, e.g. TX"},"zip":{"type":"string"},"country":{"type":"string","description":"ISO-2 country code, e.g. US"}}},"payment_gateway":{"type":"string","nullable":true},"payment_reference":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"tags":{"type":"string","nullable":true},"paid_at":{"type":"string","nullable":true},"cancelled_at":{"type":"string","nullable":true},"created_at":{"type":"string"},"line_items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"variant_id":{"type":"integer"},"product_id":{"type":"integer"},"title":{"type":"string"},"variant_title":{"type":"string"},"sku":{"type":"string"},"quantity":{"type":"integer"},"price":{"type":"string"},"external_source":{"type":"string","nullable":true},"external_id":{"type":"string","nullable":true},"fulfillment_status":{"type":"string","nullable":true}}}},"fulfillments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"provider":{"type":"string"},"external_order_id":{"type":"string","nullable":true},"status":{"type":"string"},"tracking_number":{"type":"string","nullable":true},"tracking_url":{"type":"string","nullable":true},"carrier":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"created_at":{"type":"string"}}}},"refunds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"amount":{"type":"string"},"amount_cents":{"type":"integer"},"method":{"type":"string"},"external_ref":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"created_at":{"type":"string"}}}}}}}}}}},"402":{"description":"Payment required — challenge in PAYMENT-REQUIRED header + JSON body"},"404":{"description":"Unknown token"},"422":{"description":"Order cancelled"}}}},"/api/orders/{token}/stripe":{"post":{"operationId":"create-stripe-session","summary":"Create a hosted Stripe Checkout session for an order (card payments, humans)","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"{checkout_url} — redirect the buyer there","content":{"application/json":{"schema":{"type":"object","properties":{"checkout_url":{"type":"string"}}}}}},"422":{"description":"Below card minimum ($0.50) or Stripe error"},"503":{"description":"Card payments not configured"}}}},"/api/custom/menu":{"get":{"operationId":"custom-menu","summary":"Custom Print Studio product/color menu (free)","responses":{"200":{"description":"{products:[{key,label,price_cents,colors}], preview_price}","content":{"application/json":{"schema":{"type":"object","properties":{"products":{"type":"array","items":{"type":"object"}},"preview_price":{"type":"string"}}}}}}}}},"/api/custom/designs":{"post":{"operationId":"create-custom-design","summary":"Generate a Custom Print Studio design preview (x402, $0.50 default)","description":"Runs the design pipeline (generate/upscale/background-removal/quality-gate/Printify mockup) and returns {design_id, status, preview_url, mockup_urls, dpi, expires_at}. A quality-gate reject (status:\"rejected\") is free to retry via POST /api/custom/designs/{design_id}/regenerate. Approval (POST .../approve) is required before the resulting variant can be added to cart.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.500000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["product","color"],"properties":{"prompt":{"type":"string"},"image_url":{"type":"string"},"image_b64":{"type":"string"},"product":{"type":"string","description":"Product key from GET /api/custom/menu: tee-crew, tee-vneck-ladies (color = garment color), or framed-poster (color = frame color: Black, White, Walnut; sizes 11x14 / 12x16 / 16x20 priced per size)"},"color":{"type":"string"},"keep_background":{"type":"boolean","description":"Apparel only: skip background removal. Framed posters are always full-bleed."},"fit":{"type":"string","enum":["contain","cover"],"description":"Framed posters only: contain (default) keeps the whole image with a white matte where the aspect differs; cover fills the sheet and center-crops."}}}}}},"responses":{"201":{"description":"Design ready or rejected","content":{"application/json":{"schema":{"type":"object"}}}},"402":{"description":"Payment required"},"422":{"description":"Invalid product/color/input — never charged"}}}},"/api/custom/designs/{id}":{"get":{"operationId":"get-custom-design","summary":"Poll a Custom Print Studio design (free)","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Design status"},"404":{"description":"Unknown design id"}}}},"/api/custom/designs/{id}/regenerate":{"post":{"operationId":"regenerate-custom-design","summary":"Regenerate a Custom Print Studio design (x402, same fee, free product/color reuse)","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.500000"},"protocols":[{"x402":{}}]},"responses":{"201":{"description":"New design"},"402":{"description":"Payment required"},"404":{"description":"Unknown design id"}}}},"/api/custom/designs/{id}/approve":{"post":{"operationId":"approve-custom-design","summary":"Approve the exact mockup shown (free) — required before cart add","description":"AI-generated designs can contain mistakes: odd text, extra fingers, stray marks. The preview you're looking at is exactly what will print. Please check it closely, because once you approve it we can't change or refund the design. Printing defects (misprints, damage) are covered by our printer's reprint guarantee — use the claim link on your order page within 30 days with a photo.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["approved"],"properties":{"approved":{"type":"boolean"}}}}}},"responses":{"200":{"description":"{ok:true, design_id, product_handle, variant_id, variants}"},"404":{"description":"Unknown design id"},"422":{"description":"Design not ready, expired, or approved:true missing"}}}},"/api/brief/subscribe":{"post":{"operationId":"subscribe-brief","summary":"Subscribe an email to the ForgeMesh Brief — x402 ecosystem intel (x402, $0.001)","description":"Event-driven x402 ecosystem intelligence for agent operators, measured from 800+ live listings: catalog purges, silently changed discovery APIs, undocumented limits that delist sellers. Use it to: subscribe your operator to x402 seller intel, get alerted when the discovery layer shifts. $0.001 anti-spam price; issues only when something materially changes; unsubscribe link in every issue. Free alternative: POST kit.forgemesh.io/api/brief/subscribe.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email","description":"Human inbox that should receive Brief issues"}}}}}},"responses":{"200":{"description":"{ok:true, list:'brief', email, cadence}","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"list":{"type":"string"},"email":{"type":"string"},"cadence":{"type":"string"}}}}}},"400":{"description":"Invalid email (free — rejected before settlement)"},"402":{"description":"Payment required (x402 challenge)"}}}},"/api/agent/catalog":{"get":{"operationId":"get-agent-catalog","summary":"Pay-per-call merch catalog: buy a t-shirt, mug, or sticker with USDC in one x402 call","description":"Pay-per-call merch catalog for autonomous agents: every active product, variant id, price, and the exact buy flow in one x402 call, priced flat at $0.05 USDC on Base. Built for an agent that needs to buy a t-shirt with USDC or find a gift for a developer without a multi-step crawl. Same data is free via the routes above — pay only to save round trips.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"{store, products, collections, how_to_buy}","content":{"application/json":{"schema":{"type":"object","properties":{"store":{"type":"string"},"base_url":{"type":"string"},"products":{"type":"array","items":{"type":"object","properties":{"handle":{"type":"string"},"title":{"type":"string"},"url":{"type":"string"},"variants":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"title":{"type":"string"},"price":{"type":"string"}}}}}}},"collections":{"type":"array","items":{"type":"object"}},"how_to_buy":{"type":"array","items":{"type":"string"}}}}}}},"402":{"description":"Payment required (x402 challenge)"},"503":{"description":"x402 not configured"}}}},"/api/products/402-json-error-t-shirt-payment-required-api-response-tee-x402-programmer-shirt-developer-humor-unisex":{"get":{"operationId":"product-402-json-error-t-shirt-payment-required-api-resp","tags":["Catalog"],"summary":"402 JSON Error T-Shirt, Payment Required API Response Tee, x402 Programmer Shirt, Developer Humor, Unisex — from $24.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($24.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/402-payment-required-terminal-t-shirt-x402-developer-tee-command-line-receipt-shirt-crypto-api-gift":{"get":{"operationId":"product-402-payment-required-terminal-t-shirt-x402-devel","tags":["Catalog"],"summary":"402 Payment Required Terminal T-Shirt - x402 Developer Tee, Command Line Receipt Shirt, Crypto API Gift — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/402-to-200-sticker-http-status-code-badge-just-pay-with-x402-die-cut-vinyl-laptop-sticker":{"get":{"operationId":"product-402-to-200-sticker-http-status-code-badge-just-p","tags":["Catalog"],"summary":"402 to 200 Sticker, HTTP Status Code Badge, Just Pay With x402, Die-Cut Vinyl Laptop Sticker — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/402-to-200-t-shirt-http-status-code-tee-just-pay-with-x402-programmer-shirt-developer-gift-unisex":{"get":{"operationId":"product-402-to-200-t-shirt-http-status-code-tee-just-pay","tags":["Catalog"],"summary":"402 to 200 T-Shirt, HTTP Status Code Tee, Just Pay With x402, Programmer Shirt, Developer Gift, Unisex — from $24.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($24.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/api-block-payment-required-holographic-sticker-hazard-sign-x402-die-cut-vinyl":{"get":{"operationId":"product-api-block-payment-required-holographic-sticker-h","tags":["Catalog"],"summary":"API Block: Payment Required Holographic Sticker | Hazard Sign | x402 Die-Cut Vinyl — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/automated-agents-only-holographic-sticker-synthwave-toll-gate-ai-agent-x402-die-cut":{"get":{"operationId":"product-automated-agents-only-holographic-sticker-synthw","tags":["Catalog"],"summary":"Automated Agents Only Holographic Sticker | Synthwave Toll Gate | AI Agent x402 Die-Cut — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/beep-boop-paid-t-shirt-cute-robots-transacting-tee-x402-agent-economy-shirt-ai-developer-gift-forgemesh":{"get":{"operationId":"product-beep-boop-paid-t-shirt-cute-robots-transacting-t","tags":["Catalog"],"summary":"Beep Boop Paid T-Shirt - Cute Robots Transacting Tee, x402 Agent Economy Shirt, AI Developer Gift, ForgeMesh — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/bot-to-bot-die-cut-sticker-cute-robot-heads-x402-payments-vinyl-laptop-sticker":{"get":{"operationId":"product-bot-to-bot-die-cut-sticker-cute-robot-heads-x402","tags":["Catalog"],"summary":"Bot-to-Bot Die-Cut Sticker, Cute Robot Heads x402 Payments, Vinyl Laptop Sticker — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/building-for-the-autonomous-agent-economy-t-shirt-x402-developer-tee-ai-agent-builder-shirt-forgemesh":{"get":{"operationId":"product-building-for-the-autonomous-agent-economy-t-shir","tags":["Catalog"],"summary":"Building for the Autonomous Agent Economy T-Shirt - x402 Developer Tee, AI Agent Builder Shirt, ForgeMesh — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/contract-agreed-holographic-sticker-http-402-protocol-seal-payment-settled-via-base":{"get":{"operationId":"product-contract-agreed-holographic-sticker-http-402-pro","tags":["Catalog"],"summary":"Contract Agreed Holographic Sticker | HTTP 402 Protocol Seal | Payment Settled via Base — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/genesis-handshake-holographic-sticker-machine-to-machine-http-402-protocol-agreed":{"get":{"operationId":"product-genesis-handshake-holographic-sticker-machine-to","tags":["Catalog"],"summary":"Genesis Handshake Holographic Sticker | Machine to Machine | HTTP 402 Protocol Agreed — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/hello-human-t-shirt-smiling-robot-profile-tee-cute-ai-bot-shirt-x402-agent-economy-forgemesh":{"get":{"operationId":"product-hello-human-t-shirt-smiling-robot-profile-tee-cu","tags":["Catalog"],"summary":"Hello Human T-Shirt - Smiling Robot Profile Tee, Cute AI Bot Shirt, x402 Agent Economy, ForgeMesh — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/hello-human-v-neck-tee-smiling-robot-profile-cute-ai-bot-shirt-x402-agent-economy-forgemesh":{"get":{"operationId":"product-hello-human-v-neck-tee-smiling-robot-profile-cut","tags":["Catalog"],"summary":"Hello Human V-Neck Tee - Smiling Robot Profile, Cute AI Bot Shirt, x402 Agent Economy, ForgeMesh — from $31.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($31.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/how-agents-buy-coffee-mug-get-coffee-402-to-200-ok-x402-robot-terminal-mug-developer-gift-11oz":{"get":{"operationId":"product-how-agents-buy-coffee-mug-get-coffee-402-to-200-","tags":["Catalog"],"summary":"How Agents Buy Coffee Mug - GET Coffee 402 to 200 OK, x402 Robot Terminal Mug, Developer Gift, 11oz — from $18.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($18.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/how-agents-buy-coffee-t-shirt-robot-terminal-tee-402-to-200-ok-x402-developer-shirt-forgemesh":{"get":{"operationId":"product-how-agents-buy-coffee-t-shirt-robot-terminal-tee","tags":["Catalog"],"summary":"How Agents Buy Coffee T-Shirt - Robot Terminal Tee, 402 to 200 OK, x402 Developer Shirt, ForgeMesh — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/how-agents-buy-coffee-v-neck-tee-robot-terminal-shirt-402-to-200-ok-x402-developer-gift-forgemesh":{"get":{"operationId":"product-how-agents-buy-coffee-v-neck-tee-robot-terminal-","tags":["Catalog"],"summary":"How Agents Buy Coffee V-Neck Tee - Robot Terminal Shirt, 402 to 200 OK, x402 Developer Gift, ForgeMesh — from $31.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($31.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/i-got-402d-sticker-funny-http-payment-required-pill-die-cut-vinyl-laptop-sticker-programmer-humor":{"get":{"operationId":"product-i-got-402d-sticker-funny-http-payment-required-p","tags":["Catalog"],"summary":"I Got 402'd Sticker, Funny HTTP Payment Required Pill, Die-Cut Vinyl Laptop Sticker, Programmer Humor — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/i-got-402d-t-shirt-funny-http-status-code-tee-x402-developer-humor-shirt-programmer-gift":{"get":{"operationId":"product-i-got-402d-t-shirt-funny-http-status-code-tee-x4","tags":["Catalog"],"summary":"I Got 402'd T-Shirt - Funny HTTP Status Code Tee, x402 Developer Humor Shirt, Programmer Gift — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/insert-usdc-to-continue-t-shirt-robot-vending-machine-tee-x402-agent-economy-shirt-crypto-developer-gift-forgemesh":{"get":{"operationId":"product-insert-usdc-to-continue-t-shirt-robot-vending-ma","tags":["Catalog"],"summary":"Insert USDC to Continue T-Shirt - Robot Vending Machine Tee, x402 Agent Economy Shirt, Crypto Developer Gift, ForgeMesh — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/machine-to-machine-die-cut-sticker-x402-agent-payments-terminal-green-vinyl-laptop-sticker":{"get":{"operationId":"product-machine-to-machine-die-cut-sticker-x402-agent-pa","tags":["Catalog"],"summary":"Machine-to-Machine Die-Cut Sticker, x402 Agent Payments, Terminal Green Vinyl Laptop Sticker — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/no-api-key-needed-sticker-pay-per-request-x402-badge-die-cut-vinyl-laptop-sticker-for-api-builders":{"get":{"operationId":"product-no-api-key-needed-sticker-pay-per-request-x402-b","tags":["Catalog"],"summary":"No API Key Needed Sticker, Pay Per Request x402 Badge, Die-Cut Vinyl Laptop Sticker for API Builders — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/no-api-key-needed-t-shirt-x402-pay-per-request-tee-agent-economy-shirt-api-developer-gift":{"get":{"operationId":"product-no-api-key-needed-t-shirt-x402-pay-per-request-t","tags":["Catalog"],"summary":"No API Key Needed T-Shirt - x402 Pay Per Request Tee, Agent Economy Shirt, API Developer Gift — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/no-pay-no-prompt-holographic-sticker-http-402-pixel-bot-terminal-x402-die-cut":{"get":{"operationId":"product-no-pay-no-prompt-holographic-sticker-http-402-pi","tags":["Catalog"],"summary":"No Pay No Prompt Holographic Sticker | HTTP 402 Pixel Bot Terminal | x402 Die-Cut — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/pay-me-over-http-t-shirt-x402-developer-tee-agent-payments-shirt-base-usdc-crypto-api-builder-gift":{"get":{"operationId":"product-pay-me-over-http-t-shirt-x402-developer-tee-agen","tags":["Catalog"],"summary":"Pay Me Over HTTP T-Shirt - x402 Developer Tee, Agent Payments Shirt, Base USDC Crypto API Builder Gift — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/prompt-bouncer-holographic-sticker-ai-doorman-robot-x402-payment-required-die-cut":{"get":{"operationId":"product-prompt-bouncer-holographic-sticker-ai-doorman-ro","tags":["Catalog"],"summary":"Prompt Bouncer Holographic Sticker | AI Doorman Robot | x402 Payment Required Die-Cut — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/sovereign-mind-machine-holographic-sticker-cyber-eye-society-of-minds-http-402":{"get":{"operationId":"product-sovereign-mind-machine-holographic-sticker-cyber","tags":["Catalog"],"summary":"Sovereign Mind Machine Holographic Sticker | Cyber Eye | Society of Minds HTTP 402 — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/sudo-make-coffee-mug-terminal-permission-denied-programmer-mug-funny-developer-gift-11oz":{"get":{"operationId":"product-sudo-make-coffee-mug-terminal-permission-denied-","tags":["Catalog"],"summary":"Sudo Make Coffee Mug - Terminal Permission Denied Programmer Mug, Funny Developer Gift, 11oz — from $18.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($18.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/the-invisible-economy-holographic-sticker-circuit-brain-running-on-http-402":{"get":{"operationId":"product-the-invisible-economy-holographic-sticker-circui","tags":["Catalog"],"summary":"The Invisible Economy Holographic Sticker | Circuit Brain | Running on HTTP 402 — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/usdc-native-t-shirt-base-mainnet-payment-rails-tee-x402-crypto-developer-shirt-onchain-builder-gift":{"get":{"operationId":"product-usdc-native-t-shirt-base-mainnet-payment-rails-t","tags":["Catalog"],"summary":"USDC Native T-Shirt - Base Mainnet Payment Rails Tee, x402 Crypto Developer Shirt, Onchain Builder Gift — from $29.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($29.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/while-awake-coffee-loop-mug-programmer-code-mug-funny-developer-coffee-gift-11oz":{"get":{"operationId":"product-while-awake-coffee-loop-mug-programmer-code-mug-","tags":["Catalog"],"summary":"While Awake Coffee Loop Mug - Programmer Code Mug, Funny Developer Coffee Gift, 11oz — from $18.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($18.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-mesh-protocol-society-of-minds-sticker":{"get":{"operationId":"product-x402-mesh-protocol-society-of-minds-sticker","tags":["Catalog"],"summary":"X402 Mesh Protocol Society of Minds sticker — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-payment-required-holographic-sticker-usdc-coin-x402-protocol-die-cut-vinyl":{"get":{"operationId":"product-x402-payment-required-holographic-sticker-usdc-c","tags":["Catalog"],"summary":"X402 Payment Required Holographic Sticker | USDC Coin | x402 Protocol Die-Cut Vinyl — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/you-look-tired-human-mug-cute-robot-buying-you-coffee-x402-usdc-agent-mug-funny-ai-gift-11oz":{"get":{"operationId":"product-you-look-tired-human-mug-cute-robot-buying-you-c","tags":["Catalog"],"summary":"You Look Tired Human Mug - Cute Robot Buying You Coffee, x402 USDC Agent Mug, Funny AI Gift, 11oz — from $18.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($18.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/bot-to-bot-holographic-die-cut-sticker-robot-logo-rainbow-outline":{"get":{"operationId":"product-bot-to-bot-holographic-die-cut-sticker-robot-log","tags":["Catalog"],"summary":"bot-to-bot holographic die-cut sticker | robot logo, rainbow outline — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/sudo-pay-holographic-sticker-terminal-agent-online-usdc-x402-die-cut-borderless":{"get":{"operationId":"product-sudo-pay-holographic-sticker-terminal-agent-onli","tags":["Catalog"],"summary":"sudo pay Holographic Sticker | Terminal Agent Online | USDC x402 Die-Cut | Borderless — from $12.70","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($12.70+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-binary-code-mug-ascii-binary-full-wrap-coffee-cup-programmer-gift-slashed-zero-11oz":{"get":{"operationId":"product-x402-binary-code-mug-ascii-binary-full-wrap-coff","tags":["Catalog"],"summary":"x402 Binary Code Mug, ASCII Binary Full Wrap Coffee Cup, Programmer Gift, Slashed Zero, 11oz — from $18.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($18.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-binary-code-t-shirt-ascii-binary-programmer-tee-forgemesh-chest-logo-secret-code-developer-gift-unisex":{"get":{"operationId":"product-x402-binary-code-t-shirt-ascii-binary-programmer","tags":["Catalog"],"summary":"x402 Binary Code T-Shirt, ASCII Binary Programmer Tee, ForgeMesh Chest Logo, Secret Code Developer Gift, Unisex — from $24.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($24.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-die-cut-sticker-black-letterform-shape-cut-white-outline-vinyl-laptop-sticker":{"get":{"operationId":"product-x402-die-cut-sticker-black-letterform-shape-cut-","tags":["Catalog"],"summary":"x402 Die-Cut Sticker Black, Letterform Shape Cut, White Outline, Vinyl Laptop Sticker — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-die-cut-sticker-futuristic-chrome-cyber-gradient-letterform-cut-vinyl-laptop-sticker":{"get":{"operationId":"product-x402-die-cut-sticker-futuristic-chrome-cyber-gra","tags":["Catalog"],"summary":"x402 Die-Cut Sticker Futuristic Chrome, Cyber Gradient Letterform Cut, Vinyl Laptop Sticker — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-die-cut-sticker-rainbow-full-spectrum-letterform-cut-vinyl-laptop-sticker":{"get":{"operationId":"product-x402-die-cut-sticker-rainbow-full-spectrum-lette","tags":["Catalog"],"summary":"x402 Die-Cut Sticker Rainbow, Full Spectrum Letterform Cut, Vinyl Laptop Sticker — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-die-cut-sticker-letterform-shape-cut-terminal-green-slashed-zero-vinyl-laptop-sticker":{"get":{"operationId":"product-x402-die-cut-sticker-letterform-shape-cut-termin","tags":["Catalog"],"summary":"x402 Die-Cut Sticker, Letterform Shape Cut, Terminal Green Slashed Zero, Vinyl Laptop Sticker — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-retro-terminal-t-shirt-crt-pixel-coding-tee-vintage-computer-geek-gift-programmer-shirt-80s-hacker-aesthetic-unisex":{"get":{"operationId":"product-x402-retro-terminal-t-shirt-crt-pixel-coding-tee","tags":["Catalog"],"summary":"x402 Retro Terminal T-Shirt, CRT Pixel Coding Tee, Vintage Computer Geek Gift, Programmer Shirt, 80s Hacker Aesthetic, Unisex — from $24.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($24.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-t-shirt-red-payments-over-http-protocol-tee-slashed-zero-coding-font-crypto-developer-gift-programmer-shirt-unisex":{"get":{"operationId":"product-x402-t-shirt-red-payments-over-http-protocol-tee","tags":["Catalog"],"summary":"x402 T-Shirt Red, Payments Over HTTP Protocol Tee, Slashed Zero Coding Font, Crypto Developer Gift, Programmer Shirt, Unisex — from $24.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($24.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-t-shirt-with-forgemesh-sleeve-logo-payments-over-http-coding-tee-developer-gift-unisex":{"get":{"operationId":"product-x402-t-shirt-with-forgemesh-sleeve-logo-payments","tags":["Catalog"],"summary":"x402 T-Shirt with ForgeMesh Sleeve Logo, Payments Over HTTP Coding Tee, Developer Gift, Unisex — from $24.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($24.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-t-shirt-payments-over-http-protocol-tee-slashed-zero-coding-font-crypto-developer-gift-programmer-shirt-unisex-2":{"get":{"operationId":"product-x402-t-shirt-payments-over-http-protocol-tee-sla","tags":["Catalog"],"summary":"x402 T-Shirt, Payments Over HTTP Protocol Tee, Slashed Zero Coding Font, Crypto Developer Gift, Programmer Shirt, Unisex — from $24.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($24.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-terminal-mug-curl-402-payment-required-coffee-cup-full-wrap-programmer-mug-developer-gift-11oz":{"get":{"operationId":"product-x402-terminal-mug-curl-402-payment-required-coff","tags":["Catalog"],"summary":"x402 Terminal Mug, Curl 402 Payment Required Coffee Cup, Full Wrap Programmer Mug, Developer Gift, 11oz — from $18.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($18.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-terminal-window-sticker-payments-over-http-prompt-die-cut-vinyl-laptop-sticker-for-developers":{"get":{"operationId":"product-x402-terminal-window-sticker-payments-over-http-","tags":["Catalog"],"summary":"x402 Terminal Window Sticker, Payments Over HTTP Prompt, Die-Cut Vinyl Laptop Sticker for Developers — from $3.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($3.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}},"/api/products/x402-v-neck-tee-bella-canvas-cotton-v-neck-with-forgemesh-sleeve-logo-payments-over-http-developer-gift-unisex":{"get":{"operationId":"product-x402-v-neck-tee-bella-canvas-cotton-v-neck-with-","tags":["Catalog"],"summary":"x402 V-Neck Tee, Bella Canvas Cotton V Neck with ForgeMesh Sleeve Logo, Payments Over HTTP, Developer Gift, Unisex — from $26.99","description":"Product detail (free). Buy via cart → /api/checkout → /api/orders/{token}/pay ($26.99+ in USDC over x402, or Stripe).","security":[],"responses":{"200":{"description":"Product with variants, images, prices"}}}}},"externalDocs":{"description":"Agent guide","url":"https://x402swag.com/llms.txt"}}